/* --------------------------------------------
省略号
---------------------------------------------*/
@mixin ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
